
@{
    ViewData["Title"] = "Other";
}



<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Extra</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Dashboard/@Pages.Dashboard1.Value"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Basic Components</a></li>
                                    <li class="breadcrumb-item"><a href="#!">Extra</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-primary" role="alert">
                                    <p>Use our extra helper file for quick setup Basic Components in your page - <a href="/ElementBasic/@Pages.BasicPackage.Value" target="_blank" class="alert-link">CHECKOUT</a></p>
                                    <label class="text-muted">Copy/paste source code in your page in just couples of seconds.</label>
                                </div>
                            </div>
                            <!-- [ extra ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Border <span class="badge badge-danger">NEW</span></h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5>Border color</h5>
                                                <hr>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-primary" data-toggle="tooltip" title="border-primary"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary" data-toggle="tooltip" title="border-secondary"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-success" data-toggle="tooltip" title="border-success"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-danger" data-toggle="tooltip" title="border-danger"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-warning" data-toggle="tooltip" title="border-warning"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-info" data-toggle="tooltip" title="border-info"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-light" data-toggle="tooltip" title="border-light"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-dark" data-toggle="tooltip" title="border-dark"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-white" data-toggle="tooltip" title="border-white"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="mt-5">Additive</h5>
                                                <hr>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border" data-toggle="tooltip" title="border"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-top" data-toggle="tooltip" title="border-top"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-right" data-toggle="tooltip" title="border-right"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-bottom" data-toggle="tooltip" title="border-bottom"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-left" data-toggle="tooltip" title="border-left"></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <h5 class="mt-5">Subtractive</h5>
                                                <hr>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-0" data-toggle="tooltip" title="border border-0"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-top-0" data-toggle="tooltip" title="border border-top-0"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-right-0" data-toggle="tooltip" title="border border-right-0"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-bottom-0" data-toggle="tooltip" title="border border-bottom-0"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-left-0" data-toggle="tooltip" title="border border-left-0"></span>
                                            </div>
                                            <div class="col-sm-12">
                                                <h5 class="mt-5">Border-radius</h5>
                                                <hr>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded" data-toggle="tooltip" title="rounded"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-top" data-toggle="tooltip" title="rounded-top"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-right" data-toggle="tooltip" title="rounded-right"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-bottom" data-toggle="tooltip" title="rounded-bottom"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-left" data-toggle="tooltip" title="rounded-left"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-circle" data-toggle="tooltip" title="rounded-circle"></span>
                                                <span class="hei-75 wid-120 bg-light d-inline-block mr-2 border border-secondary rounded-pill" data-toggle="tooltip" title="rounded-pill"></span>
                                                <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-0" data-toggle="tooltip" title="rounded-0"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Shadows</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
                                        <div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>
                                        <div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div>
                                        <div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Embeds</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <div class="col-md-8">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GcFJjpMFJvI?rel=0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Aspect Ratios</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="mt-5">Aspect Ratios 21 by 9</h5>
                                                <hr>
                                                <div class="embed-responsive embed-responsive-21by9">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GcFJjpMFJvI?rel=0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="mt-5">Aspect Ratios 16 by 9</h5>
                                                <hr>
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GcFJjpMFJvI?rel=0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="mt-5">Aspect Ratios 4 by 3</h5>
                                                <hr>
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GcFJjpMFJvI?rel=0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="mt-5">Aspect Ratios 1 by 1</h5>
                                                <hr>
                                                <div class="embed-responsive embed-responsive-1by1">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GcFJjpMFJvI?rel=0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ extra ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->


@section Styles{

}

@section Scripts{

}

