
@{
    ViewData["Title"] = "Widget2";
}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Widget Data</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Dashboard/@Pages.Dashboard1.Value"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Widget</a></li>
                                    <li class="breadcrumb-item"><a href="#!">Widget Data</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-primary" role="alert">
                                    <p>Use our extra helper file for quick widgets setup in your page - <a href="index-widget-package.html#page-data" target="_blank" class="alert-link">CHECKOUT</a></p>
                                    <label class="text-muted">Copy/paste source code in your page in just couples of seconds.</label>
                                </div>
                            </div>
                            <!-- [ user list ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card user-list">
                                    <div class="card-header">
                                        <h5>Rating</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center m-b-20">
                                            <div class="col-6">
                                                <h2 class="f-w-300 d-flex align-items-center float-left m-0">4.7 <i class="fas fa-star f-10 m-l-10 text-c-yellow"></i></h2>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="d-flex  align-items-center float-right m-0">0.4 <i class="fas fa-caret-up text-c-green f-22 m-l-10"></i></h6>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>5</h6>
                                                <h6 class="align-items-center float-right">384</h6>
                                                <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>4</h6>
                                                <h6 class="align-items-center float-right">145</h6>
                                                <div class="progress m-t-30  m-b-15" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>3</h6>
                                                <h6 class="align-items-center float-right">24</h6>
                                                <div class="progress m-t-30  m-b-15" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>2</h6>
                                                <h6 class="align-items-center float-right">1</h6>
                                                <div class="progress m-t-30  m-b-15" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>1</h6>
                                                <h6 class="align-items-center float-right">0</h6>
                                                <div class="progress m-t-30  m-b-0" style="height: 6px;">
                                                    <div class="progress-bar" role="progressbar" style="width:0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card chat-sanders">
                                    <div class="card-header  borderless">
                                        <h5 class="text-white">Chat with Kristina Sanders</h5>
                                    </div>
                                    <div class="card-block m-t-30 p-0">
                                        <div class="scroll-div" id="chat-scroll">
                                            <div style="padding:0 30px 35px 30px;">
                                                <p class="text-center text-muted">JUN 23 3:46PM</p>
                                                <div class="row m-b-20 received-chat align-items-end">
                                                    <div class="col-auto p-r-0">
                                                        <h5 class="text-white d-flex align-items-center theme-bg2 justify-content-center">k</h5>
                                                    </div>
                                                    <div class="col">
                                                        <div class="msg">
                                                            <h6 class="m-b-0">How may i help you?</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-b-20 send-chat align-items-end">
                                                    <div class="col text-right">
                                                        <div class="msg">
                                                            <h6 class="m-b-0 text-white">I need support for my ticket XXX.</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto p-l-0">
                                                        <h5 class="text-white d-flex align-items-center theme-bg justify-content-center">Y</h5>
                                                    </div>
                                                </div>
                                                <div class="row m-b-20 received-chat align-items-end">
                                                    <div class="col-auto p-r-0">
                                                        <h5 class="text-white d-flex align-items-center  theme-bg2 justify-content-center">k</h5>
                                                    </div>
                                                    <div class="col">
                                                        <div class="msg">
                                                            <h6 class="m-b-0">Our support staff will contact you soon..</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-b-0 send-chat align-items-end">
                                                    <div class="col text-right">
                                                        <div class="msg">
                                                            <h6 class="m-b-0 text-white">Nice to meet you!</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto p-l-0">
                                                        <h5 class="text-white d-flex align-items-center theme-bg justify-content-center">Y</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-icon-control border-top">
                                        <div class="input-group input-group-button p-10">
                                            <input type="text" class="form-control border-0 text-muted" placeholder="Write your message">
                                            <div class="input-group-append">
                                                <button class="btn" type="button"><i class="fas f-20 fa-paper-plane"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>User List</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="to-do-list mb-3">
                                            <div class="checkbox-fade fade-in-default">
                                                <label class="check-task done-task">
                                                    <input type="checkbox" value="" checked>
                                                    <span class="cr">
                                                        <i class="cr-icon fas fa-check"></i>
                                                    </span>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-1.jpg" alt="chat-user">
                                                        </div>
                                                        <div class="col">
                                                            <h6>Silje Larsen</h6>
                                                            <p class="text-muted m-0">Invertory System</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list mb-3">
                                            <div class="checkbox-fade fade-in-default">
                                                <label class="check-task">
                                                    <input type="checkbox" value="">
                                                    <span class="cr">
                                                        <i class="cr-icon fas fa-check"></i>
                                                    </span>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-2.jpg" alt="chat-user">
                                                        </div>
                                                        <div class="col">
                                                            <h6>Storm Hansen</h6>
                                                            <p class="text-muted m-0">System Analytic</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list mb-3">
                                            <div class="checkbox-fade fade-in-default">
                                                <label class="check-task">
                                                    <input type="checkbox" value="">
                                                    <span class="cr">
                                                        <i class="cr-icon fas fa-check"></i>
                                                    </span>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-3.jpg" alt="chat-user">
                                                        </div>
                                                        <div class="col">
                                                            <h6>Frida Thomsen</h6>
                                                            <p class="text-muted m-0">Last login 21/03/2017</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list mb-3">
                                            <div class="checkbox-fade fade-in-default">
                                                <label class="check-task">
                                                    <input type="checkbox" value="">
                                                    <span class="cr">
                                                        <i class="cr-icon fas fa-check"></i>
                                                    </span>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-1.jpg" alt="chat-user">
                                                        </div>
                                                        <div class="col">
                                                            <h6>Aksel Andersen</h6>
                                                            <p class="text-muted m-0">Last seen 23/05/2017</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-t-35">
                                            <div class="col-6 p-r-0">
                                                <a href="#!" class="btn btn-primary text-uppercase btn-block">add friend</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#!" class="btn text-uppercase border btn-block btn-outline-secondary p-15">message</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ user list ] end-->
                            <!-- [ Notifications ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Notifications</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 m-b-30">
                                                <div class="widget-timeline">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-green f-10 m-r-10"></i>
                                                            <a href="#!"><img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-1.jpg" alt="chat-user"></a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">The Quick Brown Fox Jumps</h6>
                                                            <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of…</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 m-b-30">
                                                <div class="widget-timeline">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-yellow f-10 m-r-10"></i>
                                                            <a href="#!"><img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-2.jpg" alt="chat-user"></a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">Over The Lazy Dog</h6>
                                                            <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of…</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 m-b-30">
                                                <div class="widget-timeline">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-blue f-10 m-r-10"></i>
                                                            <a href="#!"><img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-3.jpg" alt="chat-user"></a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">The Quick Brown Fox</h6>
                                                            <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of…</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 m-b-0">
                                                <div class="widget-timeline">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-blue f-10 m-r-10"></i>
                                                            <a href="#!"><img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-2.jpg" alt="chat-user"></a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">The Quick Brown Fox Jumps</h6>
                                                            <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of…</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Notifications ] end -->
                            <!-- [ To do section ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card to-do">
                                    <div class="card-header">
                                        <h5>To-Do</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 m-b-30">
                                                <div class="widget-todo">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-green f-10 mr-2"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">Today 15:30</h6>
                                                            <p class="m-b-0 text-muted">Meeting with Sara and Cristiane</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 m-b-30">
                                                <div class="widget-todo">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-green f-10 mr-2"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">Today 19:15</h6>
                                                            <p class="m-b-0 text-muted">Soccer game with family</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 m-b-30">
                                                <div class="widget-todo">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-blue f-10 mr-2"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">Tomorrow 08:45</h6>
                                                            <p class="m-b-0 text-muted">Check all emails</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 m-b-0">
                                                <div class="widget-todo">
                                                    <div class="media">
                                                        <div class="mr-3 photo-table">
                                                            <i class="fas fa-circle text-c-green f-10 mr-2"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="d-inline-block">Tomorrow 02:45</h6>
                                                            <p class="m-b-0 text-muted">Soccer game with family</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="to-do-button">
                                                <button class="btn btn-primary"><i class="fas fa-plus f-14 mr-0"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ To do section ] end -->
                            <!-- [ notifications section ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card note-bar">
                                    <div class="card-header">
                                        <h5>Notifications</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block p-0">
                                        <a href="#!" class="media friendlist-box">
                                            <div class="mr-3 photo-table">
                                                <i class="far fa-bell f-30"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>New order received</h6>
                                                <span class="f-12 float-right text-muted">12.56</span>
                                                <p class="text-muted m-0">2 unread notification</p>
                                            </div>
                                        </a>
                                        <a href="#!" class="media friendlist-box border-top">
                                            <div class="mr-3 photo-table">
                                                <i class="far fa-bell f-30"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>New user register</h6>
                                                <span class="f-12 float-right text-muted">12.36</span>
                                                <p class="text-muted m-0">xx messages</p>
                                            </div>
                                        </a>
                                        <a href="#!" class="media friendlist-box border-top">
                                            <div class="mr-3 photo-table">
                                                <i class="far fa-bell f-30"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>New order register</h6>
                                                <span class="f-12 float-right text-muted">11.45</span>
                                                <p class="text-muted m-0">2 read notification</p>
                                            </div>
                                        </a>
                                        <div class="media friendlist-box border-top">
                                            <div class="mr-3 photo-table">
                                                <i class="far fa-bell f-30"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>New order prepend</h6>
                                                <span class="f-12 float-right text-muted">9.39</span>
                                                <p class="text-muted m-0">xx messages</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ notifications section ] end -->
                            <!-- [ lazy-Dog section ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card lazy-dog">
                                    <div class="card-header">
                                        <h5>Do you know Datta Able is released?</h5>
                                    </div>
                                    <div class="card-block">
                                        <p>Datta Able comes with Bootstrap 4 & Angular 6. It is best kind of own Dashboard categoty.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- [ lazy-dog section ] end -->
                            <!-- [ Design-sprint section ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card Design-sprint theme-bg2">
                                    <div class="card-header borderless">
                                        <h5 class="text-white">Project Design Sprint</h5>
                                        <span class="d-block text-white mt-2">11 MAY 10:35</span>
                                    </div>
                                    <div class="card-block">
                                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <ul class="design-image">
                                            <li>
                                                <button class="btn bg-white"><i class="fas fa-plus f-14 mr-0"></i></button>
                                            </li>
                                            <li><img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-1.jpg" alt="chat-user"></li>
                                            <li><img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-2.jpg" alt="chat-user"></li>
                                            <li><img class="rounded-circle" style="width:40px;" src="~/assets/images/user/avatar-3.jpg" alt="chat-user"></li>
                                            <li class="text-white">+63</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Design-sprint section ] end -->
                            <!-- [ lorem section ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card widget-content">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 m-b-20">
                                                <div class="widget-lorem">
                                                    <div class="media align-items-center justify-content-center receive-bar">
                                                        <div class="mr-3 photo-table">
                                                            <h5 class="theme-bg text-white d-flex align-items-center justify-content-center">Q</h5>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4>What is Lorem Ipsum?</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 m-b-0">
                                                <div class="widget-lorem">
                                                    <div class="media send-bar">
                                                        <div class="mr-3 photo-table">
                                                            <h5 class="text-white d-flex theme-bg2 align-items-center justify-content-center">A</h5>
                                                        </div>
                                                        <div class="media-body">
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ lorem section ] end -->
                            <!-- [ social media section ] start -->
                            <div class="col-xl-12">
                                <div class="card social-media">
                                    <div class="card-header">
                                        <h5>Social Media Comparison</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xl-12 mb-4">
                                                <h6 class="m-b-20 text-center">Facebook <span class="ml-4">Twitter</span></h6>
                                                <div class="progress">
                                                    <h5 class="m-r-20 m-b-0">67%</h5>
                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 40%; height:12px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 40%; height:12px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <h5 class="m-l-20 m-b-0">23%</h5>
                                                </div>
                                                <h6 class="m-t-20 text-center text-muted">5326 <span class="m-l-15">234</span></h6>
                                            </div>
                                            <div class="col-xl-12  mb-4">
                                                <h6 class="m-b-20 text-center">Pinterest <span class="ml-4">Instagram</span></h6>
                                                <div class="progress">
                                                    <h5 class="m-r-20 m-b-0">46%</h5>
                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 30%; height:12px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 36%; height:12px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <h5 class="m-l-20 m-b-0">54%</h5>
                                                </div>
                                                <h6 class="m-t-20 text-center text-muted">2856 <span class="m-l-15">5258</span></h6>
                                            </div>
                                            <div class="col-xl-12  mb-0">
                                                <h6 class="m-b-20 text-center">YouTube <span class="ml-4">Vimeo</span></h6>
                                                <div class="progress">
                                                    <h5 class="m-r-20 m-b-0">59%</h5>
                                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 30%; height:12px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 40%; height:12px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <h5 class="m-l-20 m-b-0">41%</h5>
                                                </div>
                                                <h6 class="m-t-20 text-center text-muted">2989 <span class="m-l-15">2873</span></h6>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ social media section ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

@section Styles{

}

@section Scripts{
    <!-- Todo Js -->
    <script src="~/assets/plugins/todo/js/todo.js"></script>

    <script>
       var ps = new PerfectScrollbar('#chat-scroll', {
           wheelSpeed: .5,
           swipeEasing: 0,
           suppressScrollX: !0,
           wheelPropagation: 1,
           minScrollbarLength: 40,
       });
    </script>
}

