
@{
    ViewData["Title"] = "Masonry";
}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Gallery Masonry</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Dashboard/@Pages.Dashboard1.Value"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Gallery</a></li>
                                    <li class="breadcrumb-item"><a href="#!">Gallery Masonry</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ Gallery-Masonry ] start -->
                            <div class="col-sm-12 gallery-masonry">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Gallery Masonry</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-columns">
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-1.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-3.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-5.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-6.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-7.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-8.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Gallery-Masonry ] end -->
                            <!-- [ Gallery-description ] start -->
                            <div class="col-sm-12 gallery-masonry">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Gallery With Description</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-columns">
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-1.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-3.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-5.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-6.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-7.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-8.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="~/assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
                                                <div class="card-block">
                                                    <h5 class="job-card-desc">Job Description</h5>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
                                                    <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Gallery-description ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->

@section Styles{

}

@section Scripts{

}

