
@{
    ViewData["Title"] = "Radial";
}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Radial Chart</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Dashboard/@Pages.Dashboard1.Value"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Chart</a></li>
                                    <li class="breadcrumb-item"><a href="#!">Radial Chart</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-primary" role="alert">
                                    <p>Use our extra helper file for quick setup Charts in your page - <a href="/Chart/@Pages.ChartPackage.Value" target="_blank" class="alert-link">CHECKOUT</a></p>
                                    <label class="text-muted">Copy/paste source code in your page in just couples of seconds.</label>
                                </div>
                            </div>
                            <!-- [ radial-chart ] start -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Variant of Colors</h5>
                                    </div>
                                    <div class="card-block">
                                        <div data-label="20%" class="radial-bar radial-bar-20 radial-bar-lg radial-bar-primary"></div>
                                        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-lg radial-bar-success"></div>
                                        <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-lg radial-bar-info"></div>
                                        <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg radial-bar-danger"></div>
                                        <div data-label="60%" class="radial-bar radial-bar-60 radial-bar-lg radial-bar-warning"></div>
                                        <div data-label="10%" class="radial-bar radial-bar-10 radial-bar-lg"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Different Size</h5>
                                    </div>
                                    <div class="card-block">
                                        <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg"></div>
                                        <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-sm"></div>
                                        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-xs"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Radial With Images</h5>
                                    </div>
                                    <div class="card-block">
                                        <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg radial-bar-danger">
                                            <img src="~/assets/images/user/avatar-2.jpg" alt="User-Image">
                                        </div>
                                        <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-sm radial-bar-warning">
                                            <img src="~/assets/images/user/avatar-2.jpg" alt="User-Image">
                                        </div>
                                        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-xs radial-bar-success">
                                            <img src="~/assets/images/user/avatar-2.jpg" alt="User-Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ radial-chart ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

@section Styles{

}

@section Scripts{

}

