
@{
    ViewData["Title"] = "OfflineUI";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Go Jazz - Offline UI</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>
    <!-- [ offline-ui ] start -->
    <div class="auth-wrapper offline">
        <div class="text-center">
            <h1 class="mb-4">OFFLINE</h1>
            <h5 class="text-muted mb-4">Oops! Website Is Temporarily Offline</h5>
            <form action="/Dashboard/@Pages.Dashboard1.Value">
                <button class="btn btn-primary mb-4"><i class="feather icon-home"></i>Back to Home</button>
            </form>
        </div>
    </div>
    <!-- [ offline-ui ] end -->

</body>
</html>


